
/* Align & Position What Icons  */

#what .items .item{
  display: flex;
  text-align: left;
}

#what .items .item i{
  margin-right: 1.3rem;
  align-self: center;
  /* clears margin from style.css */
  margin-bottom: 0;
}

#contact .map{
  flex: 2;
}